moment-nav {
  position: fixed;
  width: 100%;
  height: $nav-height;
  top: 0;

  .login-info {
    img {
      height: $nav-height - 4px;
      margin-top: 2px;
      border-radius: 100%;
    }
  }

  .nav-link {
    line-height: $nav-height;
  }

  .oauth {
    &:hover {
      cursor: pointer;
    }
  }
}
