.content-container {
  position: relative;
  &>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.task-counter {
  i {
    padding: 5px;
  }
}

.content {
  overflow: hidden;
  .additional-info {
    font-weight: 100;
    font-size: 16px;

    span {
      padding: 0 10px;

      &.overdue {
        color: $wunderlist-red;
      }
    }
  }
}

.focused-task-container {
  height: 250px;
  overflow: hidden;
  list-style: none;
  padding: 0;

  li {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    h1 {
      margin: 0;
    }
  }
}

.focused-task {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 20px;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.actions {
  text-align: center;

  button {
    width: 80px;
    height: 80px;

    i {
      font-size: 30px;

      &.small {
        font-size: 25px;
        line-height: 30px;
      }
    }

    p {
      margin: 10px 0 0 0;
    }
  }

  .sub-actions {
    margin-top: 10px;
    p {
      font-size: 11px;
    }
  }
}

.all-done {
  text-align: center;
  padding-top: 50px;
  i {
    font-size: 140px;
  }

  &.animate-if {
    transition-delay: 0.8s;
  }
}

.animate-repeat {
  margin-top: 0;
  transition:all linear 0.5s;
}

.animate-repeat.ng-enter {
  opacity: 0;
  margin-top: -100px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
}

.animate-repeat.ng-leave {
  padding-top: 0;
}

.animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  margin-top: 0px;
}

.animate-if {
  transition:all linear 0.5s
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}
