<h1 class="text-center">{{::DashboardCtrl.today | date: 'EEEE, MMM dd' }}</h1>

<div class="content-container animate-if" ng-if="DashboardCtrl.displayContent">
  <div ng-if="!DashboardCtrl.allDone" class="animate-if">
    <div class="row text-center task-counter">
        <i ng-repeat="task in DashboardCtrl.todaysTasks" class="fa fa-circle animate-repeat"></i>
    </div>

    <ul class="focused-task-container row" ng-click="DashboardCtrl.showPostponeSubActions = false; DashboardCtrl.showTodaySubActions = false;">
      <li class="focused-task animate-repeat" ng-repeat="task in DashboardCtrl.focusedTasks">
        <div class="content">
          <h1 data-fittext data-fittext-max="40" data-fittext-min="12" class="">{{task.title}}</h1>
          <p class="additional-info">
            <span ng-class="{'overdue': task.$overdue}">Due: {{task.due_date | date: 'shortDate'}}</span>
            <span>List: {{DashboardCtrl.listByTaskId[task.id].title}}</span>
          </p>
        </div>
      </li>
    </ul>
    <div class="actions-container">
      <div class="actions animate-if" ng-if="!DashboardCtrl.showPostponeSubActions && !DashboardCtrl.showTodaySubActions">
          <div class="button-wrapper">
            <button type="button" class="btn btn-default" ng-click="DashboardCtrl.todayTask()">
              <i class="fa fa-arrow-down"></i>
            </button>
            <p>Today</p>
          </div>
          <div class="button-wrapper">
            <button type="button" class="btn btn-default" ng-click="DashboardCtrl.showPostponeSubActions = true; DashboardCtrl.showTodaySubActions = false;">
              <i class="fa fa-arrow-right"></i>
            </button>
            <p>Later</p>
          </div>
          <div class="button-wrapper">
            <button type="button" class="btn btn-default" ng-click="DashboardCtrl.resolveTask()">
              <i class="fa fa-check"></i>
            </button>
            <p>Done</p>
          </div>
          <div class="button-wrapper">
            <button type="button" class="btn btn-default" ng-click="DashboardCtrl.deleteTask()">
              <i class="fa fa-times"></i>
            </button>
            <p>Delete</p>
          </div>
      </div>
      <div class="sub-actions animate-if" ng-if="DashboardCtrl.showPostponeSubActions">
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.postponeTask(1)">
            <i class="fa fa-angle-right small"></i>
          </button>
          <p>Tomorrow</p>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.postponeTask(2)">
            <i class="fa fa-angle-right"></i>
          </button>
          <p>In 2 Days</p>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.postponeTask(7)">
            <i class="fa fa-angle-double-right"></i>
          </button>
          <p>Next Week</p>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.postponeTask()">
            <i class="fa fa-calendar-times-o"></i>
          </button>
          <p>Someday</p>
        </div>
      </div>
      <div class="sub-actions animate-if" ng-if="DashboardCtrl.showTodaySubActions">
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.remindTask()">
            <i class="fa fa-times-circle-o"></i>
          </button>
          <p>No Alarm</p>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.remindTask(1)">
            <i class="fa fa-clock-o"></i>
          </button>
          <p>In 1 Hour</p>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.remindTask(4)">
            <i class="fa fa-clock-o"></i>
          </button>
          <p>In 4 Hours</p>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-default" ng-click="DashboardCtrl.remindTask(8)">
            <i class="fa fa-clock-o"></i>
          </button>
          <p>In 8 Hours</p>
        </div>
      </div>
    </div>
  </div>
  <div class="all-done animate-if" ng-if="DashboardCtrl.allDone">
    <i class="fa fa-check"></i>
    <h1>All Done!</h1>
  </div>
</div>
