$font-family-sans-serif:                "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-condensed:                 "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

$nav-height:    50px;
$wunderlist-blue: #2b96f1;
$wunderlist-red: #DB4C3F;
$wunderlist-green: #65B01B;
$wunderlist-yellow: #E6B035;

$border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
