<div class="home">
  <div class="jumbotron">
    <img src="/images/logo.png" alt="" />
    <h1>Plan your Wunderlist day!</h1>
    <h3>A Quick, Simple Overview of Your Daily To-Dos.</h3>
  </div>

  <div class="login" ng-if="!HomeCtrl.isLoggedIn()">
    <oauth
      site="https://www.wunderlist.com"
      client-id="a9b289a663deb74050b2"
      redirect-uri="http://localhost:8000"
      scope="public"
      storage="localStorage">
    </oauth>
  </div>
  <div class="start" ng-if="HomeCtrl.isLoggedIn()">
    <a ui-sref="dashboard" class="btn btn-default btn-lg">Start your moment</a>
  </div>
</div>
